[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
django-neomodel = "*"
djangorestframework = "*"
neo4j-driver = "*"
neomodel = "*"
pytz = "*"
whitenoise = "*"
drf-yasg = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
